@font-face{
  font-family: Gravity-Regular;
  src: url("../static/font/Gravity-Regular.otf");
}

@font-face{
  font-family: Gravity-Book;
  src: url("../static/font/Gravity-Book.otf");
}

:root{
  --mainBlue:#2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow:#ffa400;
}

.App{
  font-family: Gravity-Regular;
}

.text-color-mywork{
  color: white;
}

.other {
  color: black;
}

.navbar-no-colapse {
  height: 7.5rem;
  transition: 0.5s;
}

.navbar-colapse {
  height: 4rem;
  transition: 0.5s;
}

.color-text {
  font-size: 1rem;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}
.bg-image{
    background-image: url(/static/images/mountain.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Gravity-Book {
  font-family: Gravity-Book;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.profile {
  width: 18%;
  border-radius: 50%;
  box-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
}

.titleMain {
  letter-spacing: 20px;
  
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.my-work-bg-color {
  background-color: black;
}

.padY40 {
  padding: 40px 15px;
}

.subTitle {
    font-family: "Gravity-Regular";
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0px;
}

h3.work {
  margin-bottom: 60px;
  letter-spacing: 10px;
}

.textPad {
  padding-bottom: 60px;
  padding-top: 20px;
}

.subText{
  font-size: 1em;
  letter-spacing: 2px;
  margin: 0px;
}

.software-developement {
  padding-top: 20px;
  padding-bottom: 20px;
}

.soft-repo{
  padding-top: 200px;
  min-height: 100vh;
}